
.stars {
    margin: 50px 0;
  position: relative;
  display: block;
  color: silver;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid silver;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 20%;
  animation-iteration-count: infinite;
  animation-name: twinkle-1;
  animation-duration: 1s;

  }

  .stars:before {
    border-bottom: 80px solid silver;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }

  .stars:after {
    position: absolute;
    display: block;
    color: silver;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid silver;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  @keyframes twinkle-1 {
    50% {
      transform: scale(0.1);
      opacity: 0.5;
    }
  }