*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url('img/wallpaperuse.com-underwater-wallpaper-955877.jpg');
    background-size: cover;
    background-position:center;
    position: relative;
    overflow: hidden;
}

.navbar{
    width: 85%;
    height:15%;
    margin-left:70%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.button{
    padding:10px 25px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 20px;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
    position:absolute;
    bottom:0;

}

@keyframes bubble{
    0%{
        transform:translateY(0);
        opacity: 0%;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3.2s;
}
.bubbles img:nth-child(4){
    animation-delay: 4.6s;
}
.bubbles img:nth-child(5){
    animation-delay: 5.7s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
}